@charset "utf-8";
.Welcome
{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 20px;
	text-align: center;
}
.BodyText
{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-align: left;
	font-weight: normal;
}
.UnorderedListHeader
{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
}
.UnorderedListItem
{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
}
.PageTitle
{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 24px;
	background-color: #009;
	height: auto;
	width: 100%;
	color: #FFF;
	font-weight: bold;
	border: 0px none #FFF;
	padding: 3px;
}
.SubTitle
{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	background-color: #00F;
	height: auto;
	width: 100%;
	color: #FFF;
	font-weight: bold;
	border: 0px none #FFF;
	padding: 2px;
}